<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ftouchcustomer">

    <application
        android:name=".Global.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="q"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".NavigationTabs.BottomNavigationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Complain.ActivitySelectComplain"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Language.LanguageSelectionActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Profile.ProfileActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".ImageEdit.ActivityImageEdit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Profile.Country.CountryStateCityListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Complain.ActivityDisplayComplainList"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Orders.ActivityOrderItemList"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".DisplayImage.DisplayMultipleImgActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="DuplicateActivity" />

        <activity
            android:name=".Profile.State.StateListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Orders.OrdersActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Appointment.NewAppointment.ActivityNewAppointment"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Appointment.NewAppointment.ActivityServiceSelection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Address.ActivityFillAddress"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Address.ActivityAddress"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Orders.ActivityCustomerOrderDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".PlaceOrder.ActivityPlaceOrder"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Merchant.ActivityMerchantList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Merchant.ActivityCategoriesFilters"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Appointment.AppointmentList.ActivityAppointmentMerchantList"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Merchant.ActivityFilterMerchantList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="DuplicateActivity" />

        <activity
            android:name=".Global.DisplayTAndCActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="DuplicateActivity" />

        <activity
            android:name=".Payment.ActivityMakePayment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="DuplicateActivity" />

        <service
            android:name=".Global.CheckNetworkJob"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.myfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

</manifest>